.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: white;
}
.name{
    font-size: 20px;
    padding: 20px 30px 15px;
    color: white;
}
a{
    color: white;
}
.iconContainer{
    font-size: 30px;
    width: 60%;
    height: 50px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}